<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">

    <title>Shooping site</title>
  </head>
  <body>

    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand ml-0" href="#"><img src="imgs/logo.jpg" height="40" width="51"></a>
            <div class="navbar-header navbar-right pull-right">
                <ul class="navbar-nav mr-auto">
                    <li><a class="nav-link" href="#"><span class="fa fa-heart-o fa-sm" style="color:black"></a></span></li>
                    <li> <a class="nav-link " href="signin" style="color:black"><span class="fa fa-sign-in fa-sm" ></span>login</a></li>
                </ul>
            </div>
            </div>
        </nav>
        


    <div class="jumbotron">
      <div class="container"><h1>Hello , Welcome to shoping site</h1> </div>
    </div>

    <div class="container">
        </div>
            <div class="row mb-4 mt-4">
                <div class="col-6 col-md-3 mb-2">
                    <div class="card card-grey">
                        <div class="card-title">
                        <a href="/Pdfs/mystery & thriller/The-Adventures-of-Sherlock-Holmes.pdf">Sherlock Holmes<i class="fa fa-chevron-right"></i></a>
                        </div>
                        <div class="card-body d-none d-sm-block">
                        <a href="/Pdfs/mystery & thriller/The-Adventures-of-Sherlock-Holmes.pdf">
                        <img class="img-fluid" data-cfsrc="" alt="Adventures of Sherlock Holmes" title="Adventures of Sherlock Holmes" src="imgs/mystery & thriller/The adventures of sherlock homes.jpg">
                        </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 mb-2">
                       <div class="card card-grey">
                        <div class="card-title">
                        <a href="/Pdfs/young adult/Black-Beauty.pdf">Black Beauty<i class="fa fa-chevron-right"></i></a>
                        </div>
                        <div class="card-body d-none d-sm-block">
                        <a href="/Pdfs/young adult/Black-Beauty.pdf">
                        <img class="img-fluid" data-cfsrc="" alt="Black Beauty" title="Black Beauty" src="imgs/young adult/Black Beauty.jpg">
                        </a>
                        </div>
                    </div>
                 </div>
                <div class="col-6 col-md-3 mb-2">
                     <div class="card card-grey">
                        <div class="card-title">
                        <a href="/Pdfs/Fantasy/Alice-in-Wonderland.pdf">Alice in Wonderland<i class="fa fa-chevron-right"></i></a>
                        </div>
                        <div class="card-body d-none d-sm-block">
                        <a href="/Pdfs/Fantasy/Alice-in-Wonderland.pdf">
                        <img class="img-fluid" data-cfsrc="" alt="Alice in wonderland" title="Alice in wonderland" src="imgs/Fantasy/Alice in wonderland.jpg">
                        </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 mb-2">
                     <div class="card card-grey">
                        <div class="card-title">
                        <a href="/Pdfs/action & adventure/Gulliver's-Travels.pdf">Gulliver's travels<i class="fa fa-chevron-right"></i></a>
                        </div>
                        <div class="card-body d-none d-sm-block">
                        <a href="/Pdfs/action & adventure/Gulliver's-Travels.pdf">
                        <img class="img-fluid" data-cfsrc="" alt="gulliver's travels" title="gulliver's travels" src="imgs/action & adventure/gulliver's travels.jpg">
                        </a>
                        </div>
                    </div>
                 </div>  
            </div>
            
        </div>



        <div class="container">
        </div>
            <div class="row mb-4 mt-4">
                <div class="col-6 col-md-3 mb-2">
                    <div class="card card-grey">
                        <div class="card-title">
                        <a href="/Pdfs/mystery & thriller/The-Adventures-of-Sherlock-Holmes.pdf">Sherlock Holmes<i class="fa fa-chevron-right"></i></a>
                        </div>
                        <div class="card-body d-none d-sm-block">
                        <a href="/Pdfs/mystery & thriller/The-Adventures-of-Sherlock-Holmes.pdf">
                        <img class="img-fluid" data-cfsrc="" alt="Adventures of Sherlock Holmes" title="Adventures of Sherlock Holmes" src="imgs/mystery & thriller/The adventures of sherlock homes.jpg">
                        </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 mb-2">
                       <div class="card card-grey">
                        <div class="card-title">
                        <a href="/Pdfs/young adult/Black-Beauty.pdf">Black Beauty<i class="fa fa-chevron-right"></i></a>
                        </div>
                        <div class="card-body d-none d-sm-block">
                        <a href="/Pdfs/young adult/Black-Beauty.pdf">
                        <img class="img-fluid" data-cfsrc="" alt="Black Beauty" title="Black Beauty" src="imgs/young adult/Black Beauty.jpg">
                        </a>
                        </div>
                    </div>
                 </div>
                <div class="col-6 col-md-3 mb-2">
                     <div class="card card-grey">
                        <div class="card-title">
                        <a href="/Pdfs/Fantasy/Alice-in-Wonderland.pdf">Alice in Wonderland<i class="fa fa-chevron-right"></i></a>
                        </div>
                        <div class="card-body d-none d-sm-block">
                        <a href="/Pdfs/Fantasy/Alice-in-Wonderland.pdf">
                        <img class="img-fluid" data-cfsrc="" alt="Alice in wonderland" title="Alice in wonderland" src="imgs/Fantasy/Alice in wonderland.jpg">
                        </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 mb-2">
                     <div class="card card-grey">
                        <div class="card-title">
                        <a href="/Pdfs/action & adventure/Gulliver's-Travels.pdf">Gulliver's travels<i class="fa fa-chevron-right"></i></a>
                        </div>
                        <div class="card-body d-none d-sm-block">
                        <a href="/Pdfs/action & adventure/Gulliver's-Travels.pdf">
                        <img class="img-fluid" data-cfsrc="" alt="gulliver's travels" title="gulliver's travels" src="imgs/action & adventure/gulliver's travels.jpg">
                        </a>
                        </div>
                    </div>
                 </div>  
            </div>
            
        </div>



        <div class="container">
        </div>
            <div class="row mb-4 mt-4">
                <div class="col-6 col-md-3 mb-2">
                    <div class="card card-grey">
                        <div class="card-title">
                        <a href="/Pdfs/mystery & thriller/The-Adventures-of-Sherlock-Holmes.pdf">Sherlock Holmes<i class="fa fa-chevron-right"></i></a>
                        </div>
                        <div class="card-body d-none d-sm-block">
                        <a href="/Pdfs/mystery & thriller/The-Adventures-of-Sherlock-Holmes.pdf">
                        <img class="img-fluid" data-cfsrc="" alt="Adventures of Sherlock Holmes" title="Adventures of Sherlock Holmes" src="/imgs/The adventures of sherlock homes.jpg">
                        </a>
                        </div>
                        <button class="btn-danger mr-5 ml-5">fav</button>
                    </div>
                </div>
                <div class="col-6 col-md-3 mb-2">
                       <div class="card card-grey">
                        <div class="card-title">
                        <a href="/Pdfs/young adult/Black-Beauty.pdf">Black Beauty<i class="fa fa-chevron-right"></i></a>
                        </div>
                        <div class="card-body d-none d-sm-block">
                        <a href="/Pdfs/young adult/Black-Beauty.pdf">
                        <img class="img-fluid" data-cfsrc="" alt="Black Beauty" title="Black Beauty" src="imgs/young adult/Black Beauty.jpg">
                        </a>
                        </div>
                    </div>
                 </div>
                <div class="col-6 col-md-3 mb-2">
                     <div class="card card-grey">
                        <div class="card-title">
                        <a href="/Pdfs/Fantasy/Alice-in-Wonderland.pdf">Alice in Wonderland<i class="fa fa-chevron-right"></i></a>
                        </div>
                        <div class="card-body d-none d-sm-block">
                        <a href="/Pdfs/Fantasy/Alice-in-Wonderland.pdf">
                        <img class="img-fluid" data-cfsrc="" alt="Alice in wonderland" title="Alice in wonderland" src="imgs/Fantasy/Alice in wonderland.jpg">
                        </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 mb-2">
                     <div class="card card-grey">
                        <div class="card-title">
                        <a href="/Pdfs/action & adventure/Gulliver's-Travels.pdf">Gulliver's travels<i class="fa fa-chevron-right"></i></a>
                        </div>
                        <div class="card-body d-none d-sm-block">
                        <a href="/Pdfs/action & adventure/Gulliver's-Travels.pdf">
                        <img class="img-fluid" data-cfsrc="" alt="gulliver's travels" title="gulliver's travels" src="imgs/action & adventure/gulliver's travels.jpg">
                        </a>
                        </div>
                    </div>
                 </div>  
            </div>
            
        </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>