<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
  
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>  
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./javascript/validation.js"></script> 

    <style>  
        .ui-widget-header,.ui-state-default, ui-button{  
           background: lightyellow;  
           border: 2px solid #b9cd6d;  
           color: black;  
           font-weight: bold;  
        }  
     </style> 

    <script>
        $(function() {  
            $( ".dialog-3" ).dialog({  
               autoOpen: false,   
               hide: "slide",  
               show : "slide",  
               height: 200        
            });
        });  
    </script>

    <title>Shooping site</title>
  </head>
  <body>
    <div class="dialog-3" id="fnamedialog" title="Registeration failed.">Invalid First Name.</div> 
    <div class="dialog-3" id="lnamedialog" title="Registeration failed.">Invalid Last Name.</div> 
    <div class="dialog-3" id="agedialog" title="Registeration failed.">Invalid Age, Please enter between 1 to 120.</div> 
    <div class="dialog-3" id="emaildialog" title="Registeration failed.">Invalid Email.</div> 
    <div class="dialog-3" id="phoneNumberdialog" title="Registeration failed.">Phone no. Should contain 7 digits.</div> 
    <div class="dialog-3" id="passworddialog" title="Registeration failed.">Password Should be of Minimum 6 length.</div> 
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand ml-0" href="/"><img src="../imgs/aslogi.png" height="40" width="51"></a>
            <div class="navbar-header navbar-right pull-right">
            </div>
            </div>
        </nav>


        <div class="container">
           
            <br>
            <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Create Account</h4>
                <form id="myForm">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                     </div>
                    <input name="fname" class="form-control" placeholder="First name" type="text" required>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                     </div>
                    <input name="lname" class="form-control" placeholder="Last name" type="text" required>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
                     </div>
                    <input name="age" class="form-control" placeholder="Age" type="text" min="2" max="100" required>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                     </div>
                    <input name="email" class="form-control" placeholder="Email address" type="email" required>
                </div> 
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>
                    <select name="phoneCode" class="custom-select" style="max-width: 120px;">
                        <option value="0" selected="">+647</option>
                        <option value="1" selected="">+416</option>
                        <option value="2" selected="">+705</option>
                        <option value="3" selected="">+905</option>
                        <option value="4" selected="">+807</option>
                        <option value="5" selected="">+249</option>
                        <option value="6" selected="">+343</option>
                    </select>
                    <input name="phoneNumber" class="form-control" placeholder="Phone number" type="text" required>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="password" class="form-control" placeholder="Create password" type="password" required>
                </div>                                     
                <div class="form-group">
                    <button id="createAccount" type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                </div>     
                <p class="text-center">Have an account? <a href="signin">Log In</a> </p>                                                                 
            </form>
            </article>
            </div> <!-- card.// -->
            
            </div> 
            <!--container end.//-->
            


    
   </body>

  <!--  <script type="text/javascript">
    $(document).ready(function() {
    $("#createAccount").click(function() {
 
        // using serialize function of jQuery to get all values of form
        var serializedData = $("#myForm").serialize();
        alert(serializedData);
 
        // Variable to hold request
        var request;
        request = $.ajax({
            url: "/register",
            type: "post",
            data: serializedData
        });
 
        // Callback handler that will be called on success
        request.done(function(jqXHR, textStatus, response) {
             // show successfully for submit message
            alert(jqXHR+"done");
        });
 
        // Callback handler that will be called on failure
        request.fail(function(jqXHR, textStatus, errorThrown) {
            // Log the error to the console
            // show error
            console.log(
                "The following error occurred: " +
                textStatus, errorThrown
            );
            alert(jqXHR);
        });
 
        return false;
 
    });
});
</script> -->
 </html>